:root{
    --A: 60px;
    --B: 120px;
    --C: 180px;
    --animationTime: 0.7s;
    --lightBox: #f7f7f7;
    --normalBox: #ededed;
    --darkBox: #d6d6d6;
    --mainColour: #79B508;
    --darkMainColour: #5B8905;
    --backgroundColour: white;
}

.break{
    height: 10px;
}
.Column {
    float: left;
    height: 400px;
    width: 12.5%;
}

.Center {
    text-align: center;
}

.Calendar{
    display: inline-block;
}

.Button{
    background-color: var(--mainColour);
    border: none;
    color: var(--backgroundColour);
    border-radius: 3px;
    margin-top: 6px;
    cursor: pointer;
}

.Button:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--darkMainColour);
}

.addCardButton{
    width: 96px;
    height: 30px;
    border-radius: 5px;
}

.incButton{
    position: absolute;
    right: 40%;
}
.decButton{
    position: absolute;
    left: 40%;
}
.tipsButton{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    font-size: 40%;
    font-weight: bold;
    letter-spacing: 1px;
}
.CardText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 75%;
}
.Text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 75%;
}

.MainText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 150%;
    letter-spacing: 2px;
}

.header{
    background-image: linear-gradient(var(--darkMainColour), var(--mainColour));
    position: sticky;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box{
    border: 1px solid var(--backgroundColour);
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

.clearBox{
    border: 1px solid var(--backgroundColour);
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

.lightBoxColour{
    background-color: var(--lightBox);
}

.normalBoxColour{
    background-color: var(--normalBox);
}

.darkBoxColour{
    background-color: var(--darkBox);
}

.card{
    width: 100px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
}

.mainColour{
    background-color: var(--mainColour);
}
.darkMainColour{
    background-color: var(--darkMainColour);
}
.bin{
    width: 50px;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position:absolute;
    top:0;
    right:0;
    margin-top: 60px;
    margin-right: 10px;
}

.addCard{
    position:absolute;
    background-color: var(--darkBox);
    border-radius: 3px;
    height: 200px;
    width: 120px;
    top:0;
    right:0; 
    margin-top: 146px;
    margin-right: 100px;
    text-align: center;
}

.input{
    width: 100px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 75%;
    border: 2px solid var(--darkBox);
}

.inputText{
    width: 80px;
    height: 20px;
}

.settingButtons{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    margin-top: 60px;
    margin-left: 10px;  
}

.settingButtons:hover{
    height: 180px;
    width: 60px;
}

.settingButtons:hover .hideme{
    display: block;
}

.hideme{
    display:none;
}

.settingButtons .ButtonA{
    margin-top: var(--A);
    animation: animationA var(--animationTime);
    animation-timing-function: ease;

}

.settingButtons .ButtonB{
    margin-top: var(--B);
    animation: animationB var(--animationTime);
    animation-timing-function: ease;
}

.settingButtons .ButtonC{ 
    margin-top: var(--C);
    animation: animationC var(--animationTime);
    animation-timing-function: ease;
}

@keyframes back{
    to{top:0px;}
}

@keyframes animationA {
    from {top: -60px;}
    to {top: 0px;}
}
@keyframes animationB {
    from {top: -120px;}
    to {top: 0px;}
}
@keyframes animationC {
    from {top: -180px;}
    to {top: 0px;}
}

@media screen and (max-width: 1200px) {
    .box{
        width: 45px;
    }
    .clearBox{
        width: 45px;
    }
    .card{
        width: 45px;
    }
    .Text{
        font-size: 40%;
    }
    .CardText{
        font-size: 100%;
    }     
    .incButton{
        right: 25%;
    }
    .decButton{
        left: 25%;
    }
    .addCard{
        position: relative;
        margin-right: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
    }
  }