.Column {
    float: left;
    height: 600px;
    width: 105px;
}

.Center {
    text-align: center;
}

.Calendar{
    display: inline-block;
}

.incButton{
    position: absolute;
    right: 650px;
}
.decButton{
    position: absolute;
    left: 650px;
}

.Text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 75%;
}

.MainText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 150%;
    letter-spacing: 2px;
}

.Red{
    background-color: red;
}

.Blue{
    background-color: blue;
}


.Gray{
    background-color: #d6d6d6;
}

.LightGray{
    background-color: #ededed;
}

.header{
    background-image: linear-gradient(#7aa672, #b6deaf);
    position: sticky;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.body{
}

.box{
    border: 1px solid white;
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

.clearBox{
    border: 1px solid white;
    background-color: #f7f7f7;
    border-radius: 3px;
    width: 100px;
    height: 20px;
}

.card{
    width: 100px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
}

.cardBottom{
    width: 100px;
    height: 20px;
    margin-top: -19px;
    border-radius: 3px;    
}